.account-pages{
    background-image: url('../../assets/images/bg-pattern-light.svg');
    background-size: cover;
    background-position: center;
    .card-header{
        h4{
            font-size: 18px;
            font-weight: bold;
            color: #fff;
        }
    }
}