.notification-wrapper .arrow{
    display: none !important;
}
.notification-head{
    display:flex;
    justify-content:space-between;
    padding:15px 20px;
    
}
.notification-wrapper .qlist-wrapper .list-group .list-group-item{
    border:none !important;
        }