@import "../../App.scss";

.dashboard.container{
    margin: 20px;
    .left-panel{
        margin: 0px;
        padding: 0px;
        .card + .card{
            margin-top: 20px;
        }
    }
    .right-panel{
        padding: 0px 0px 0px 15px;
        margin-left: 0px;
        .card{
            height: 100%;
        }
    }
}

@include media-breakpoint-up(sm) {
    .dashboard.container{
        width: 450px;
    } 
}
@include media-breakpoint-up(md) {
    .dashboard.container{
        width: 450px;
    } 
}
@include media-breakpoint-up(lg) { 
    .dashboard.container{
        width: 700px;
    }
}
@include media-breakpoint-up(xl) {
    .dashboard.container{
        width: 1056px;
    }
 }
