@import '../../../App.scss';

aside {
    background: $dark-bg;
    color: $light-color;
    height: 100%;
}

.navbar-brand {
    margin: 0 10px;
}

.pro-sidebar .pro-menu a.navbar-brand{
    overflow-wrap: break-word;
    white-space: break-spaces;
}

.dropdown {
    display: inline-block;
}
header{
    a.nav-link {
        padding-left: 0 !important;
    }
}
@include media-breakpoint-up(sm) { 
    .pro-sidebar.app-sidebar.sm {
        left: 0px;
    }  
}

ul span {
    margin: 0 10px;
}