.maintenance-page{
    .maintenance-icons {
    font-size: 22px;
    -webkit-box-shadow: 0 0 45px 0 rgba(0,0,0,.12);
    box-shadow: 0 0 45px 0 rgba(0,0,0,.12);
    height: 60px;
    display: inline-block;
    width: 60px;
    line-height: 58px;
    border-radius: 50%
}}